//- VARS
- var imgFolder = 'images/'

mixin head(title)
	- function pDate() {return new Date().getTime();}
	head
		if !title
			title Unisolidarity
		else
			title #{title}
		link(rel="stylesheet", href="css/style.css?ver=" + pDate())
		link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
		link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
		link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
		link(rel='manifest', href='/site.webmanifest')
		link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#5bbad5')
		meta(name='msapplication-TileColor', content='#da532c')
		meta(name='theme-color', content='#ffffff')
		meta(charset='utf-8')
		meta(name="viewport", content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes")
		meta(name="mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="description", content="Университетская солидарность")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		if config.images.generateSpritePng
			link(rel="stylesheet", href="css/sprite.css")


mixin scripts()
	- function pDate() {return new Date().getTime();}
	script(src="js/vendors/jquery-3.2.1.min.js")
	script(src="js/app.js?ver=" + pDate())

mixin icon(name)
	svg(class="icon icon--active icon--" + name)
		use(xlink:href="#" + name)

//- example
	+picture({'class':'slide__img', 'src':'images/slide-0.jpg', 'alt':'slide-0', 'data':{'data-bg': 'true'}})

mixin picture(opts)
	- var name = path.parse(opts.src).name
	- var ext = path.parse(opts.src).ext.substr(1)
	- var srcFile = path.resolve('src','images',opts.src)
	- var alt = opts.alt ? opts.alt : name;
	- var className = opts.class;
	- var data = opts.data ? opts.data : '';
	- function setQuality(quality){ images( srcFile, quality ); }
	if opts.quality
		#{setQuality(opts.quality)}
	if config.images.sizes.length > 0 || config.images.webp
		picture
			each size in config.images.sizes
				if config.images.webp
					source(srcset=`${imgFolder}${name}-${size}.webp` type="image/webp" media=`(max-width: ${size}px)`)
				source(srcset=`${imgFolder}${name}-${size}.${ext}` type=`image/${ext}` media=`(max-width: ${size}px)`)
			if config.images.webp
				source(srcset=`${imgFolder}${name}.webp` type="image/webp" )
			source(srcset=`${imgFolder}${name}.${ext}` type=`image/${ext}`)
			img(src=`${imgFolder}${name}.${ext}`, class=className alt=alt )&attributes(data)
	else
		img(src=`${imgFolder}${name}.${ext}` class=className alt=alt )&attributes(data)

