include ./mixins/mixins.pug

doctype html
html(lang="ru")
	+head()
	body.page
		.page__body
			main.page__main
				ul
					li
						a(href=index_page) index page
					li
						a(href=rulers_page) rulers page
					li
						a(href=tag_page) tag page
					li
						a(href=about_page) about page
					li
						a(href=contacts_page) contacts page
					li
						a(href=news_page) news page
					li
						a(href=around_page) around page
					li
						a(href=local_index_page) local index page
					li
						a(href=local_docs_page) local docs page
					li
						a(href=local_contacts_page) local contacts page
