-
	var articles = [
		{
			id: 1,
			title: 'Ванда Тиллес на площадке СПЧ призвала создавать «первички» для борьбы с нарушениями трудовых прав преподавателей',
			excerpt: '21 мая в Администрации Президента состоялось специальное заседание Совета развитию гражданского общества и правам человека при Президенте Российской Федерации на тему «Реализация права граждан на образование и защита прав участников образовательного процесса». В ходе мероприятия председатель Постоянной комиссии СПЧ по культурным правам, образованию и науке Анита Соболева рассказала о нарушении прав профессорско-преподавательского состава. В заседании также приняла участие и выступила с докладом сопредседатель межрегионального профсоюза работников высшей школы «Университетская солидарность», доцент Югорского... ',
			date: '28 мая 2018',
			source: false,
			tags: [
				{name: 'Ванда Тиллес', link: '#'},
				{name: 'Высшее образование', link: '#'},
				{name: 'Защита прав', link: '#'},
				{name: 'Первичка', link: '#'},
				{name: 'ППС', link: '#'},
				{name: 'Сокращения', link: '#'},
			],
			categories: [
				{name: 'Заявления ППО', link: '#'}, 
				{name: 'Документы', link: '#'}
			]
		},
		{
			id: 2,
			title: 'Во время одиночного пикета задержан сопредседатель «Университетской солидарности» Андроник Арутюнов',
			excerpt: 'Задержание произошло во время одиночного пикета возле метро Университет в поддержку студента МГУ Дмитрия Петелина, обвиненного в вандализме, а также всех студентов и преподавателей МГУ, которые протестуют против размещения фан-зоны на его территории.',
			date: '28 мая 2018',
			source: false,
			tags: [
				{name: 'FIFA2018', link:'#'}, 
				{name: 'FIFAFANFEST', link:'#'}, 
				{name: 'Андроник Арутюнов', link:'#'}, 
				{name: 'Задержание', link:'#'}, 
				{name: 'Пикет', link:'#'}
			],
			categories: [
				{name: 'Действия', link:'#'}, 
				{name: 'МГУ', link:'#'}
			]
		},		
		{
			id: 3,
			title: 'Активисты «Университетской солидарности» поддержали акцию за свободный Интернет',
			excerpt: '',
			date: '28 мая 2018',
			source: false,
			tags: [],
			categories: []
		},		
		{
			id: 4,
			title: '«Бунд физкека». Студенты и преподаватели недовольны реформой в вузе»',
			excerpt: '',
			date: '27.05.18',
			source: {
				name: 'Радио Свобода',
				link: '#'
			},
			tags: [],
			categories: []
		},		
		{
			id: 5,
			title: 'Профсоюз присоединится к акции «За свободный интернет»',
			excerpt: 'В воскресенье, 13 мая, в Москве на проспекте Сахарова в 14.00 состоится митинг за свободный интернет. Главные цели акции – выступить против действий Роскомнадзора и против цензуры в Интернете в любом ее проявлении. Активисты Межрегионального профсоюза работников высшей школы',
			date: '28 мая 2018',
			source: false,
			tags: [
				{name: 'За свободный интернет', link:'#'}, 
				{name: 'Митинг', link:'#'}, 
				{name: 'Против цензуры', link:'#'}, 
				{name: 'Шествие', link:'#'}
			],
			categories: [
				{name: 'Анонс', link:'#'}
			]
		},		
		{
			id: 6,
			title: 'В Москве прошла конференция по трудовому праву с участием профсоюзных юристов',
			excerpt: '23 и 24 мая в Москве в Университете им. О.Е. Кутафина прошла конференция «Общее и специальное законодательство о труде и социальном обеспечении» (IV Гусовские чтения). Мероприятие состоялось при поддержке Центра социально-трудовых прав и ассоциации «Юристы за трудовые права» и привлекло всех заинтересованных как в теоретических вопросах трудо',
			date: '28 мая 2018',
			source: false,
			tags: [
				{name: 'Заявление', link:'#'}, 
				{name: 'МФТИ', link:'#'}, 
				{name: 'Первичка', link:'#'}, 
				{name: 'Протест', link:'#'}
			],
			categories: [
				{name: 'Профсоюз', link:'#'}
			]
		},		
		{
			id: 7,
			title: 'Как живет преподаватель СПбГАУ: сокращения и зарплата 40 тысяч рублей вместо 74 тысяч',
			excerpt: '22 мая 2018 года на Ученом совете Санкт-Петербургского государственного аграрного университета было объявлено о сокращении штата профессорско-преподавательского состава более чем на 41 ставку. Сокращение в большей степени коснется преподавателей агробиологических и агроинженерных направлений подготовки, но не затронет, к примеру, администрацию вуза, штат которой увеличился за 2017 год почти на 30 единиц.',
			date: '28 мая 2018',
			source: false,
			tags: [
				{name: 'Заработная плата', link:'#'}, 
				{name: 'ППС', link:'#'}, 
				{name: 'Сокращения', link:'#'}
			],
			categories: [
				{name: 'СПбГАУ', link:'#'}, 
				{name: 'Высшая школа', link:'#'}
			]
		},		
		{
			id: 8,
			title: 'КТР объявила о начале общероссийской кампании по защите пенсионных прав работников',
			excerpt: '',
			date: '28 мая 2018',
			source: false,
			tags: [],
			categories: []
		},		
		{
			id: 9,
			title: 'Каждый остался при своем: первичная профсоюзная организация Уральской консерватории',
			excerpt: '',
			date: '28 мая 2018',
			source: false,
			tags: [],
			categories: []
		},		
		{
			id: 10,
			title: 'Открытое собрание преподавателей и ученых Екатеринбурга',
			excerpt: '',
			date: '28 мая 2018',
			source: false,
			tags: [],
			categories: []
		},		
		{
			id: 11,
			title: '34 дня до чемпионата мира: что будет с фан-зоной возле МГУ?',
			excerpt: 'Сегодня муниципальный депутат района Зюзино, выпускник МГУ и общественный активист Александр Замятин опубликовал пост в Facebook, где подвел промежуточные итоги общественного',
			date: '28 мая 2018',
			source: false,
			tags: [
				{name: 'Заявление', link:'#'}, 
				{name: 'МФТИ', link:'#'}, 
				{name: 'Первичка', link:'#'}, 
				{name: 'Протест', link:'#'}
			],
			categories: [
				{name: 'СМИ', link:'#'}
			]
		},		
		{
			id: 12,
			title: 'Болонская система в России: движение на болотные огни',
			excerpt: 'Болонская система плохо приживается на российской почве во многом потому, что само понятие болонской системы сильно искажено. Она не сводится только к трёхуровневой системе (бакалавриат – магистратура – аспирантура и её аналоги) и «кредитам» за курсы.',
			date: '28 мая 2018',
			source: false,
			tags: [
				{name: 'Интервью', link:'#'}, 
				{name: 'П.М.Кудюкин', link:'#'}
			],
			categories: [
				{name: 'Действия', link:'#'}
			]
		},		
		{
			id: 13,
			title: '«Университетская солидарность» поддержала итоговое заявление Конференции по свободе объединения',
			excerpt: 'Активисты Межрегионального Профсоюза «Университетская солидарность» из Москвы, Иваново и Ханты-Мансийска приняли участие в IV Конференции «Свобода объединения и права профсоюзов в Российской ',
			date: '28 мая 2018',
			source: false,
			tags: [
				{name: 'За свободный интернет', link:'#'}, 
				{name: 'Митинг', link:'#'}, 
				{name: 'Против цензуры', link:'#'}, 
				{name: 'Шествие', link:'#'}
			],
			categories: [
				{name: 'Анонс', link:'#'}
			]
		},		
		{
			id: 14,
			title: 'Полиция терроризирует студентов РГАУ за одиночные пикеты в защиту увольняемых преподавателей',
			excerpt: 'СРОЧНО! Максимальный репост… Сейчас в общежития РГАУ имени Тимирязева (бывшая сельско-хозяйственная академия) нагрянула полиция. Силовики из ОМВД по району Тимирязевский угрожают более десяти студентам, принявшим участие в акциях протеста в защиту своих преподавателей 26 декабря. Полиция растащила студентов на беседы по одному, требует составления объяснительных, в которых оговорить себя и товарищей, признав организацию несанкционированного митинга ',
			date: '28 мая 2018',
			source: false,
			tags: [
				{name: 'За свободный интернет', link:'#'}, 
				{name: 'Митинг', link:'#'}, 
				{name: 'Против цензуры', link:'#'}, 
				{name: 'Шествие', link:'#'}
			],
			categories: [
				{name: 'Анонс', link:'#'}
			]
		},		
		{
			id: 15,
			title: 'На дне образования. Выпуск 2. Как общаться с Минобрануки',
			excerpt: '',
			date: '2 апр. 2018 г.',
			source: false,
			tags: [
				{name: 'А.А.Арутюнов', link:'#'}, 
				{name: 'Высшая Школа', link:'#'}
			],
			categories: [],
			youtube: 'O5ekyxzWXY4'
		},		
		{
			id: 16,
			title: 'На дне образования. Выпуск 3. О фан-зоне возле МГУ',
			excerpt: '',
			date: '4 мая 2018 г.',
			source: false,
			tags: [
				{name: 'А.А.Арутюнов', link:'#'}, 
				{name: 'Высшая Школа', link:'#'}
			],
			categories: [],
			youtube: 'EMQHZXbyoVY'
		},		
		{
			id: 17,
			title: 'Действия администрации МФТИ привели к появлению протестной волны в среде студентов и преподавателей',
			excerpt: 'Вслед за МГУ острой социальной площадкой постепенно становится Московский физико-технический университет. Волну недовольства студентов и преподавателей...',
			date: '28 мая 2018',
			source: false,
			tags: [
				{name: 'Заявление', link:'#'}, 
				{name: 'МФТИ', link:'#'}, 
				{name: 'Первичка', link:'#'}, 
				{name: 'Протест', link:'#'}
			],
			categories: [
				{name: 'Документы', link:'#'}, 
				{name: 'Заявления ППО', link:'#'}
			]
		},		
		{
			id: 18,
			title: 'Депутат Олег Шеин обратился к ректору МФТИ в защиту прав членов первички «Университетской солидарности» в вузе',
			excerpt: '',
			date: '28 мая 2018',
			source: {
				name: 'СеверПост',
				link: '#'
			},
			tags: [
				{name: 'Заявление', link:'#'}, 
				{name: 'МФТИ', link:'#'}, 
				{name: 'Первичка', link:'#'}, 
				{name: 'Протест', link:'#'}
			],
			categories: []
		},		
		{
			id: 19,
			title: '«Академики предрекли интенсивную эмиграцию научной элиты страны» ',
			excerpt: '',
			date: '27.05.18',
			source: {
				name: 'СеверПост',
				link: '#'
			},
			tags: [],
			categories: []
		},		
		{
			id: 20,
			title: '«Пять российских университетов вошли в топ-1000 лучших вузов мира»',
			excerpt: '',
			date: '27.05.18',
			source: {
				name: 'Известия',
				link: '#'
			},
			tags: [],
			categories: []
		},		
		{
			id: 21,
			title: '«Лоббист соцсферы: сколько дадут на медицину и образование»',
			excerpt: '',
			date: '27.05.18',
			source: {
				name: 'Газета.ру',
				link: '#'
			},
			tags: [],
			categories: []
		},		
		{
			id: 22,
			title: '«Первый этап формирования Миннауки РФ может быть завершен в июне»',
			excerpt: '',
			date: '27.05.18',
			source: {
				name: 'ТАСС',
				link: '#'
			},			
			tags: [],
			categories: []
		},		
		{
			id: 23,
			title: 'В Санкт-Петербурге состоялось шествие в поддержку деятельности независимых профсоюзов',
			excerpt: 'Активисты «Университетской солидарности» прошлись вместе с сотнями человек  в поддержку Межрегионального профсоюза «Рабочая ассоциация» (МПРА). Массовое шествие стало центральной акцией профсоюзов Конфедерации труда России (КТР) ',
			date: '28 мая 2018',
			source: false,
			tags: [
				{name: 'FIFA2018', link:'#'}, 
				{name: 'Fifafanfest', link:'#'}, 
				{name: 'Андроник', link:'#'}, 
				{name: 'Арутюнов', link:'#'}, 
				{name: 'Задержание', link:'#'}
			],
			categories: [
				{name: 'Действия', link:'#'}, 
				{name: 'МГУ', link:'#'}
			]
		},		
		{
			id: 24,
			title: 'Сопредседатель «Университетской солидарности» Павел Кудюкин стал участником рубрики «Личное мнение» на ОТР',
			excerpt: 'Темой передачи стали вопросы прав трудящихся, повышения заработных плат и исполнения майских указов Президента России. На этот раз в роли эксперта программы выступил сопредседатель межрегионального профсоюза работников высшей',
			date: '28 мая 2018',
			source: false,
			tags: [
				{name: 'Заявление', link:'#'}, 
				{name: 'МФТИ', link:'#'}, 
				{name: 'Первичка', link:'#'}, 
				{name: 'Протест', link:'#'}
			],
			categories: [
				{name: 'Профсоюз', link:'#'}
			]
		},		
		{
			id: 25,
			title: 'Андроник Арутюнов оштрафован на 20 тысяч рублей за одиночный пикет в поддержку Дмитрия Петелина',
			excerpt: 'Никулинский суд Москвы оштрафовал сопредседателя Межрегионального профсоюза работников высшей школы «Университетская солидарность» Андроника Арутюнова на 20 тыс. руб. (минимальный штраф по вменявшейся статье 20.2 часть 2 КоАП) за проведение одиночного пикета против уголовного преследования студента филологического факультета МГУ Дмитрия Петелина.',
			date: '28 мая 2018',
			source: false,
			tags: [
				{name: 'Андроник Арутюнов', link:'#'}, 
				{name: 'Задержание', link:'#'}, 
				{name: 'МГУпротивфанзоны', link:'#'}, 
				{name: 'Пикет', link:'#'}, 
				{name: 'Суд', link:'#'}
			],
			categories: [
				{name: 'Действия', link:'#'}, 
				{name: 'МГУ', link:'#'}
			]
		},		
		{
			id: 26,
			title: '',
			excerpt: '',
			date: '',
			source: false,
			tags: [],
			categories: []
		},		
		{
			id: 27,
			title: '',
			excerpt: '',
			date: '',
			source: false,
			tags: [],
			categories: []
		},		
	];

	function cutText(text, length){
		var words = text.split(' ');
		var l = 0;
		var overflow = false;
		var resp = []; 
		words.map(word => {
			if( l >= length-3 ){ 
				overflow = true;
			}else{
				resp.push(word);
				l += word.length + 1;							
			}
		});
		return overflow ? resp.join(' ') + '...' : resp.join(' ');
	} 

mixin article--blog(id)
	- var article = articles.filter(item => item.id === id);
	if article.length > 0
		- 
			var pic_url = `images/articles/article-${article[0].id}.jpg`
			var pic_alt = `article-${article[0].id}`
		.article__categories
			each category in article[0].categories
				a.categories__item(href=tag_page) #{category}
		.article__info
			.article__date #{article[0].date}
			.article__tags
				each tag in article[0].tags
					a.tags__item(href="#") #{tag}
		.article__title #{article[0].title}
		//-img(src=pic_url, alt=pic_alt)
		+picture({'src': pic_url, 'alt':pic_alt})
	else
		p(style="color: red;")= 'Error! article not found'

mixin article--xl(id, userClass)
	- var article = articles.filter(item => item.id === id);
	- uc = {class: userClass || ''};
	if article.length > 0
		- 
			var pic_url = `images/articles/article-${article[0].id}.jpg`
			var pic_alt = `article-${article[0].id}`
		article.article.article--xl()&attributes(uc)
			.article__pic
				//-img(src=pic_url, alt=pic_alt, data-bg="true")
				+picture({'src': pic_url, 'alt':pic_alt, 'data':{'data-bg': 'true'}})
				.article__pic-wrapper
					.article__categories
						each category in article[0].categories
							a.categories__item(href=category.link) #{category.name}
					a.article__title(href=news_page) #{article[0].title}
			.article__info
				.article__date #{article[0].date}
				.article__tags
					each tag in article[0].tags					
						a.tags__item(href=tag.link) #{tag.name}
			.article__excerpt #{article[0].excerpt}		
	else
		p(style="color: red;")= 'Error! article not found'

mixin articles--xl(arr, userClass)
	each id in arr
		+article--xl(id, userClass)

mixin article--lg(id, userClass)
	- var article = articles.filter(item => item.id === id);
	- uc = {class: userClass || ''};
	if article.length > 0
		- 
			var pic_url = `images/articles/article-${article[0].id}.jpg`
			var pic_alt = `article-${article[0].id}`
			var youtube_url = `https://www.youtube.com/embed/${article[0].youtube}`
			var isVideo = article[0].youtube ? true : false
		article.article.article--lg()&attributes(uc)
			.article__pic
				if isVideo
					.article__video
						iframe(src=youtube_url, frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='true', title=article[0].title)
				else
					//-img(src=pic_url, alt=pic_alt, data-bg="true")
					+picture({'src': pic_url, 'alt':pic_alt, 'data':{'data-bg': 'true'}})
					.article__pic-wrapper
						.article__categories
							each category in article[0].categories
								a.categories__item(href=category.link) #{category.name}
			.article__info
				.article__date #{article[0].date}
				.article__tags
					each tag in article[0].tags					
						a.tags__item(href=tag.link) #{tag.name}
			a.article__title(href=news_page) #{article[0].title}
			.article__excerpt #{cutText(article[0].excerpt, 180)}		
	else
		p(style="color: red;")= 'Error! article not found'

mixin articles--lg(arr, userClass)
	each id in arr
		+article--lg(id, userClass)

mixin article--md(id, userClass)
	- var article = articles.filter(item => item.id === id);
	- uc = {class: userClass || ''};
	if article.length > 0
		- 
			var pic_url = `images/articles/article-${article[0].id}.jpg`
			var pic_alt = `article-${article[0].id}`
		article.article.article--md()&attributes(uc)
			.article__pic
				//-img(src=pic_url, alt=pic_alt, data-bg="true")
				+picture({'src': pic_url, 'alt':pic_alt, 'data':{'data-bg': 'true'}})
			.article__info
				.article__date #{article[0].date}
			a.article__title(href=news_page) #{article[0].title}		
	else
		p(style="color: red;")= 'Error! article not found'

mixin articles--md(arr, userClass)
	each id in arr
		+article--md(id, userClass)

mixin article--sm(id, userClass)
	- var article = articles.filter(item => item.id === id);
	- uc = {class: userClass || ''};
	if article.length > 0
		article.article.article--sm()&attributes(uc)
			.article__info
				.article__date #{article[0].date}
				.article__tags
					each tag in article[0].tags					
						a.tags__item(href=tag.link) #{tag.name}				
			a.article__title(href=news_page) #{article[0].title}
			.article__info
				if article[0].source
					a.article__source(href=article[0].source.link, target="_blank", rel="nofollow") #{article[0].source.name}
	else
		p(style="color: red;")= 'Error! article not found'

mixin articles--sm(arr, userClass)
	each id in arr
		+article--sm(id, userClass)

mixin article--xs(id, userClass)
	- var article = articles.filter(item => item.id === id);
	- uc = {class: userClass || ''};
	if article.length > 0
		article.article.article--xs()&attributes(uc)
			.article__info
				.article__date #{article[0].date}
			a.article__title(href=news_page) #{article[0].title}
			.article__info
				if article[0].source
					a.article__source(href=article[0].source.link, target="_blank", rel="nofollow") #{article[0].source.name}
	else
		p(style="color: red;")= 'Error! article not found'

mixin articles--xs(arr, userClass)
	each id in arr
		+article--xs(id, userClass)