mixin head(title)
	-
		var styles = [
			{name: 'bootstrap', vendor: false},
			{name: 'jssocials', vendor: true},
			{name: 'swiper', vendor: true},
			{name: 'perfect-scrollbar', vendor: true},
			{name: 'lightbox', vendor: true},
			{name: 'style', vendor: false},
		]
	head
		if !title
			title Unisolidarity
		else
			title #{title}
		each style in styles
			-
				var style_path = style.vendor ? 'css/vendors/' : 'css/',
					style_name = args.prod ? `${style.name}.min.css?ver=${pDate()}` : `${style.name}.css?ver=${pDate()}`,
					href = style_path + style_name;
			link(rel="stylesheet", href=href)
		link(rel='apple-touch-icon', sizes='180x180', href='apple-touch-icon.png')
		link(rel='icon', type='image/png', sizes='32x32', href='favicon-32x32.png')
		link(rel='icon', type='image/png', sizes='16x16', href='favicon-16x16.png')
		link(rel='manifest', href='site.webmanifest')
		link(rel='mask-icon', href='safari-pinned-tab.svg', color='#5bbad5')
		meta(name='msapplication-TileColor', content='#00a300')
		meta(name='theme-color', content='#ffffff')
		meta(charset='utf-8')
		meta(name="viewport", content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes")
		meta(name="mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="description", content="Университетская солидарность")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")